<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
   <!--配置spring-->
  <!--下面的5行是必须的,注册spring模块-->
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <!--这里开始注入内容-->
  <spring>
    <context>
      <!--这里代表注入的程序集命名空间等等-->
      <!--<resource uri="~/DataConfig.xml"/>-->
      <resource uri="assembly://TZHSWEET.BLL/TZHSWEET.BLL/DataConfig.xml" />
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net" />
    <!--必要-->
  </spring>
  
    <appSettings>
      <!--Dao路径-->
      <add key="DaoPath" value="TZHSWEET.EFDao" />
      <!--Dao实现类型-->
      <add key="DaoType" value="EFDao" />
    </appSettings>

    <connectionStrings>
      <add name="BaseManageEntities" connectionString="metadata=res://*/BaseManage.csdl|res://*/BaseManage.ssdl|res://*/BaseManage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TIANZH-PC;initial catalog=DBCommonManage;persist security info=True;user id=sa;password=tian815100;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
